/* reset default settings of body */

body {
    background: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.footer {
    width: 100%;
    background: linear-gradient(to right, #3b3b3b, #1e1e1e, #1e1e1e, #3b3b3b);
    color: rgb(225, 225, 225);
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
    margin-top: 20px;
}

//Estilos de los forms

.my-card {
    width: 100%;
    margin: auto;
    margin-top: 4%;
    align-self: center;
    justify-self: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    flex-direction: column;
}

.header {
    background: radial-gradient(circle, #35a2ff 0%, #014a88 100%);
}

// Material Icons

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v98/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
        format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
